/* Reset Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'roboto', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

/* Universal Styles */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  padding: 10rem;
}

.btn {
  font-size: 1.6rem;
  font-family: 'roboto' sans-serif;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 1.2rem 2rem;
  background-color: red;
  color: white;
}

/* Menu Icon */
.menu__icon {
  position: fixed;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 10rem;
}

@media (hover: hover) {
  .menu__icon:hover:before {
    transform: translateY(1.2rem);
  }

  .menu__icon:hover div {
    transform: scale(0);
  }

  .menu__icon:hover:after {
    transform: translateY(-1.2rem);
  }
}
.menu__close:before {
  transform: translateY(1.2rem) rotate(135deg);
}

.menu__close div {
  transform: scale(0);
}

.menu__close:after {
  transform: translateY(-1.2rem) rotate(-135deg);
}

.menu__icon div,
.menu__icon:before,
.menu__icon:after {
  content: '';
  display: block;
  width: 4rem;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #fff;
  margin: 0.7rem 0;
  transition: all 0.4s;
}

/* Nav Styles */

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(95, 158, 160, 0.98);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  font-size: 5rem;
  font-weight: 600;
  margin: 5rem 0;
  letter-spacing: 0.2rem;
}

.nav__link {
  color: #fff;
}

.hide {
  display: none;
}

/* Header Styles */

header {
  background: url('https://images.unsplash.com/photo-1513031300226-c8fb12de9ade?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 100vh;
}

.title__container {
  height: 25rem;
  margin-right: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main__title {
  color: red;
  font-size: 5rem;
}

.sub__title {
  color: red;
  font-size: 2rem;
}

/* About Styles */

.about {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__photo {
  border-radius: 10rem;
  height: 20rem;
  margin-bottom: 3rem;
  object-fit: cover;
  width: 20rem;
}

.about__title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.about__text {
  font-size: 1.6rem;
  width: 50vw;
  text-align: center;
}

/* Portfolio Styles */

.portfolio {
  background-color: #eee;
}

.portfolio__title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  text-align: center;
}

.image__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image__box {
  background-color: #eee;
  height: 25rem;
  margin: 1rem;
  width: 35rem;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 800px) {
  section {
    padding: 5rem;
  }

  header {
    justify-content: center;
  }
  .title__container {
    margin-right: 0;
  }

  .about__text {
    width: 80vw;
  }
}
